<!DOCTYPE html>
<html>
<head>
  <title>編輯器</title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= notice %>
<%= link_to('登出', '/sign_out', class: 'pull-right', style: 'margin-top: 5px; margin-right: 40px;') if current_user %>
<%= yield %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</body>
</html>
